@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_28pt-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_28pt-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_24pt-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: black;
  font-weight: 600;
  font-family: "Inter";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 32px 0;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  font-size: 24px;
}
.header__call {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #000;
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__item {
  list-style: none;
}
.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s;
}
.header__link:hover {
  color: #f0c631;
}
.header__link--current {
  border-bottom: 2px solid #f0c631;
  padding-bottom: 8px;
}

.about {
  padding-top: 94px;
}
.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  max-width: 570px;
  margin-top: 40px;
}
.about__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-wrap: balance;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
  gap: 21px;
}
.about__item {
  width: 100%;
  height: 300px;
  background: #fafafa;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.about__item--accent {
  background: #f0c631;
}
.about__icon {
  width: 100px;
}

.intro {
  background-image: url(/assets/img/intro.jpg);
  min-height: calc(100vh - 95px);
  background-size: cover;
  padding-top: 165px;
}
.intro__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  color: white;
  margin-bottom: 28px;
}
.intro__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: white;
  margin-bottom: 60px;
  max-width: 570px;
}
.intro__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: black;
  background: #f0c631;
  padding: 19px 54px;
  display: inline-block;
  transition: 0.3s;
}
.intro__btn:hover {
  background: #fff;
}

.about {
  padding-top: 94px;
}
.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  max-width: 570px;
  margin-top: 40px;
}
.about__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-wrap: balance;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
  gap: 21px;
}
.about__item {
  width: 100%;
  height: 300px;
  background: #fafafa;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.about__item--accent {
  background: #f0c631;
}
.about__icon {
  width: 100px;
}/*# sourceMappingURL=style.css.map */