@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_28pt-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_28pt-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_24pt-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: black;
  font-weight: 600;
  font-family: "Inter";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 32px 0;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  font-size: 24px;
}
.header__call {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #000;
}
.header__list {
  display: flex;
  gap: 30px;
}
@media (width < 1000px) {
  .header__list {
    display: none;
  }
}
.header__item {
  list-style: none;
}
.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s;
}
.header__link:hover {
  color: #f0c631;
}
.header__link--current {
  border-bottom: 2px solid #f0c631;
  padding-bottom: 8px;
}

.about {
  padding-top: 94px;
  padding-bottom: 100px;
}
.about__wrapper {
  background-image: url(/assets/img/about_bg.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  max-width: 570px;
  margin-top: 40px;
}
.about__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-wrap: balance;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
  gap: 21px;
}
.about__item {
  width: 100%;
  height: 300px;
  background: #fafafa;
  box-shadow: -2px 5px 5px -6px rgba(34, 60, 80, 0.49);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.about__item--accent {
  background: #f0c631;
}
.about__icon {
  width: 100px;
}

.intro {
  background-image: url(/assets/img/intro.jpg);
  min-height: calc(100vh - 95px);
  background-size: cover;
  padding-top: 165px;
}
.intro__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  color: white;
  margin-bottom: 28px;
}
.intro__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: white;
  margin-bottom: 60px;
  max-width: 570px;
}
.intro__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: black;
  background: #f0c631;
  padding: 19px 54px;
  display: inline-block;
  transition: 0.3s;
}
.intro__btn:hover {
  background: #fff;
}

.about {
  padding-top: 94px;
  padding-bottom: 100px;
}
.about__wrapper {
  background-image: url(/assets/img/about_bg.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  max-width: 570px;
  margin-top: 40px;
}
.about__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-wrap: balance;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
  gap: 21px;
}
.about__item {
  width: 100%;
  height: 300px;
  background: #fafafa;
  box-shadow: -2px 5px 5px -6px rgba(34, 60, 80, 0.49);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.about__item--accent {
  background: #f0c631;
}
.about__icon {
  width: 100px;
}

.works {
  padding-top: 100px;
  padding-bottom: 100px;
}
.works__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 93px;
}
.works__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}
.works__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  margin-bottom: 92px;
}
.works__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
}
.works__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}
.works__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  margin-bottom: 92px;
  background: #fafafa;
  padding: 20px 40px;
}
.works__img {
  width: 100%;
}
.works__img--track {
  margin-bottom: 40px;
}
.works__img--fence {
  margin-top: 40px;
}
.works__subtitle {
  margin-bottom: 20px;
}

.price {
  padding: 100px 0px;
}
.price__wrapper {
  background-image: url(/assets/img/pricebg.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.price__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}
.price__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  font-weight: 500;
  font-weight: 500;
  color: #6e6e6e;
  margin-bottom: 58px;
}
.price__length {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  padding: 46px 35px 30px;
}
.price__cost {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #6e6e6e;
  padding: 46px 33px;
}
.price__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.price__item:nth-child(odd) {
  background: #f9f9f9;
}

.call {
  background: #f0c631;
  padding: 43px 0;
}
.call__wrapper {
  display: flex;
  justify-content: space-between;
}
.call__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}
.call__phone {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000;
}

.footer {
  background: #000;
}
.footer__top {
  padding: 100px 0px 63px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6e6e6e;
}
.footer__list {
  display: flex;
  gap: 246px;
}
.footer__emailtext {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #6e6e6e;
}
.footer__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.footer__calltext {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #6e6e6e;
}
.footer__call {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.footer__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6e6e6e;
}
.footer__bottom {
  padding-bottom: 100px;
  padding-top: 36px;
}/*# sourceMappingURL=style.css.map */