.header {
    &__wrapper {
        display: flex;
        align-items: center;
        padding: 32px 0;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
    }

    &__call {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: #000;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        list-style: none;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000;

        &--current {
            border-bottom: 2px solid #f0c631;
            padding-bottom: 8px;
        }
    }
}
