.intro {
    background-image: url(/assets/img/intro.jpg);
    min-height: calc(100vh - 95px);
    background-size: cover;
    padding-top: 165px;

    &__title {
        font-weight: 600;
        font-size: 80px;
        line-height: 100%;
        color: white;
        margin-bottom: 28px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: white;
        margin-bottom: 60px;
        max-width: 570px;
    }

    &__btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: black;
        background: #f0c631;
        padding: 19px 54px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
            background: #fff;
        }
    }
}
